*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
}
*:after,
*:before{
    box-sizing: border-box;
}

body {
    background-color: white;
}

.wrapper{
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

.single-font-view {
}

.editable-box {
    padding: 20px 20px 20px 20px;
}

.header{
    flex: 0 0 auto;
    -webkit-user-select: none;
}

.content{
    flex: 1 1 auto;
    overflow-y: auto;
    -webkit-user-select: none;
}

.auth-dialog {
    min-width: 600px;
    -webkit-user-select: none;
}

.footer{
    flex: 0 0 auto;
    background: #aaa;
    text-align: center;
}

.font-card {
    float: left;
    padding: 5px 5px 5px 5px;
    height: 180px;
    width: 300px;
}

.md-toolbar-tools {
    background-color: white;
    color: black;
}

.nav-selected {
    background-color: green;
}

.sideBar {
    height: 100%;
    min-width: 200px;
}

.form-content {
    border: none;
}

.validator-message {
    font-size: 12px;
}

#green-slider .md-thumb:after, #green-slider .md-track-fill{
    background-color: green !important;
    border-color: green !important;
}

#green-slider .md-focus-thumb, #green-slider .md-focus-ring{
    background-color: green;
}

md-input-container:not(.md-input-invalid).md-input-focused .md-input {
    border-color: green;
}

md-input-container:not(.md-input-invalid).md-input-focused label {
    color: green;
}

md-input-container > md-select:not([disabled]):focus .md-select-label {
    border-bottom: 2px solid;
    padding-bottom: 0;
}

md-select:not([disabled]):focus .md-select-value {
    border-bottom-color: green;
}

md-tabs.md-default-theme md-ink-bar, md-tabs md-ink-bar {
    color: green !important;
    background-color:green !important;
}

md-tabs > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-active, md-tabs > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-active md-icon, md-tabs.md-accent > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-active md-icon, md-tabs.md-default-theme.md-accent > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-focused, md-tabs.md-default-theme.md-accent > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-focused md-icon {
    color: green !important;
}