*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
*:after,
*:before{
    box-sizing: border-box;
}

body {
    background-color: white;
}

.wrapper{
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

.single-font-view {
}

.editable-box {
    padding: 20px 20px 20px 20px;
}

.header{
    flex: 0 0 auto;
    -webkit-user-select: none;
}

.content{
    flex: 1 1 auto;
    overflow-y: auto;
    -webkit-user-select: none;
}

.auth-dialog {
    min-width: 600px;
    -webkit-user-select: none;
}

.footer{
    flex: 0 0 auto;
    background: #aaa;
    text-align: center;
}

.font-card {
    padding: 10px 10px 10px 10px;
}

.md-toolbar-tools {
    background-color: white;
    color: black;
    -webkit-user-select: none;
}

.sideBar {
    height: 100%;
    min-width: 200px;
}

.form-content {
    border: none;
}

.validator-message {
    font-size: 12px;
}
