.side-list {
    max-width: 250px;
    min-height: 500px;
    background-color: #f4f3f8;
    padding: 10px 10px 10px 10px;

}

.font-body {
    transition: opacity 250ms linear;
}

.font-body.changing {
    opacity: 0;
}

.font {
    cursor: pointer;
    transition: all 250ms linear;
}

.font.selected {
    cursor: default;
    background-color: #296bdd;
    color: white;
}
.font-body .header {
    padding-left: 10px;
}

