ul.card-list {
    list-style-type: none;
    padding: 40px 30px 30px 30px;
}

li.list-styler {
    float:left;
    padding-bottom: 15px;
}

.content{
    flex: 1 1 auto;
    overflow-y: auto;
}

.footer{
    flex: 0 0 auto;
    position: absolute;
    bottom: 0px;
}

.header{
    -webkit-overflow-scrolling: auto;
}

.search-bar{
    flex: 0 0 auto;
    position: absolute;
    right: 10px;
    top: 60px;
}

.wrapper{
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}
