<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Fontman</title>

    <link rel="stylesheet" href="css/custom.css">
    <link rel="stylesheet" href="node_modules/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="node_modules/angular-material-sidemenu/dest/angular-material-sidemenu.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>

<body ng-app="fontmanApp" ng-cloak>

<div class="wrapper">

    <div layout="row">

        <div class="sideBar" layout="column" ng-controller="mainController">

            <span class="sideBar-space-padding-empty">
                <md-input-container>
                </md-input-container>
            </span>

            <md-sidemenu locked="true">

                <md-sidemenu-group>

                    <md-sidemenu-button href="#/" ng-class="{'nav-selected':selectedNavIndex==0}" ng-click="setSelectedNavIndex(0)">
                        FONTS
                    </md-sidemenu-button>

                    <md-sidemenu-button href="#/collections" ng-class="{'nav-selected':selectedNavIndex==1}" ng-click="setSelectedNavIndex(1)">
                        COLLECTIONS
                    </md-sidemenu-button>

                    <md-sidemenu-button href="#/comparison" ng-class="{'nav-selected':selectedNavIndex==2}" ng-click="setSelectedNavIndex(2)">
                        TEST/COMPARE
                    </md-sidemenu-button>

                </md-sidemenu-group>

                <div class="sideBar-space-padding"></div>

                <md-sidemenu-group>

                    <md-sidemenu-button ng-if="authStatus.includes('undefined')" ng-click="createProfileDialog($event)">
                        SIGN UP
                    </md-sidemenu-button>

                    <md-sidemenu-button ng-if="authStatus===false" ng-click="loginDialog($event)">
                        SIGN IN
                    </md-sidemenu-button>

                    <md-sidemenu-content md-heading="{{fontmanUser}}" md-arrow="true" ng-if="authStatus===true">

                        <md-sidemenu-button  ng-click="logout($event)">
                            LOGOUT
                        </md-sidemenu-button>

                    </md-sidemenu-content>

                </md-sidemenu-group>

                <div class="sideBar-space-padding"></div>

                <md-sidemenu-group>

                    <md-sidemenu-button  ng-click="myFontsDialog($event)" ng-if="authStatus===true">
                        MY TYPECASE
                    </md-sidemenu-button>

                    <md-sidemenu-button href="http://fontman.io/fund" target="_blank">
                        FUND
                    </md-sidemenu-button>

                </md-sidemenu-group>

            </md-sidemenu>

        </div>

        <div layout="column">

            <div ng-view></div>

        </div>

    </div>

</div>


<script src="node_modules/jquery/dist/jquery.min.js" type="text/javascript"></script>
<script src="node_modules/angular/angular.min.js" type="text/javascript"></script>
<script src="node_modules/angular-animate/angular-animate.min.js" type="text/javascript"></script>
<script src="node_modules/angular-aria/angular-aria.min.js" type="text/javascript"></script>
<script src="node_modules/angular-messages/angular-messages.min.js" type="text/javascript"></script>
<script src="node_modules/angular-material/angular-material.js" type="text/javascript"></script>
<script src="node_modules/angular-material-sidemenu/dest/angular-material-sidemenu.js" type="text/javascript"></script>
<script src="node_modules/angular-route/angular-route.min.js" type="text/javascript"></script>
<script src="node_modules/angular-ui-validate/dist/validate.min.js" type="text/javascript"></script>

<script src="bower_components/angular-sanitize/angular-sanitize.min.js" type="text/javascript"></script>
<script src="node_modules/rangy/lib/rangy-core.js" type="text/javascript"></script>
<script src="bower_components/angular-inline-text-editor/ite.js" type="text/javascript"></script>

<script src="fontman.js" type="text/javascript"></script>
<script src="ng-modules/collectionsModule.js" type="text/javascript"></script>
<script src="ng-modules/fontsModule.js" type="text/javascript"></script>

</body>
</html>