<md-dialog aria-label="myFonts" class="auth-dialog">

    <form class="font-form" name="newFontForm" ng-cloak>

    <md-toolbar>

        <div class="md-toolbar-tools" >
            <h2>My Fonts</h2>
            <span flex></span>

            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon aria-label="Close dialog" class="close-dialog-icon">close</md-icon>
            </md-button>
        </div>

    </md-toolbar>

        <md-dialog-content>

            <div class="md-dialog-content">

                <div class="full-height" label="ADD NEW FONT" >
                    <md-input-container class="md-block">
                        <label>Font Name</label>
                        <input required="" name="name" ng-model="newFont.name">
                        <div ng-messages="newFontForm.name.$error" >
                            <div ng-message="required" >Font name is required.</div>
                        </div>
                    </md-input-container>

                    <md-input-container class="type" flex="50">
                        <label>Type</label>
                        <md-select ng-model="newFont.type">
                            <md-option ng-repeat="type in types" value="{{type.type}}">
                                {{type.type}}
                            </md-option>
                        </md-select>
                    </md-input-container>

                    <md-input-container flex="50" >
                        <label>Font Channel</label>
                        <md-select ng-model="newFont.channel_id">
                            <md-option ng-repeat="channel in channelsList" value="{{channel.channel_id}}">
                                {{channel.name}} {{channel.type}}
                            </md-option>
                        </md-select>
                    </md-input-container>

                    <div flex></div>

                    <md-input-container>
                        <label>GitHub User/Organization</label>
                        <input required="" name="gitUser" ng-model="newFont.gitUser">
                        <div ng-messages="newFontForm.gitUser.$error">
                            <div ng-message="required">GitHub username/organization name is required.</div>
                        </div>
                    </md-input-container>

                    <md-input-container >
                        <label>GitHub Repository</label>
                        <input required="" name="gitRepository" ng-model="newFont.gitRepository">
                        <div ng-messages="newFontForm.gitRepository.$error">
                            <div ng-message="required">Repository is required.</div>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-block">
                        <label>GitHub Pages Branch</label>
                        <input required="" name="ghPagesBranch" ng-model="newFont.ghPagesBranch">
                        <div ng-messages="newFontForm.ghPagesBranch.$error">
                            <div ng-message="required">Branch name containing sample fonts is required.</div>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-block">
                        <label>GitHub Pages Fonts Directory Path</label>
                        <input required="" name="ghPagesFontDir" ng-model="newFont.ghPagesFontDir">
                        <div ng-messages="newFontForm.ghPagesFontDir.$error">
                            <div ng-message="required">Directory path containing sample fonts is required.</div>
                        </div>
                    </md-input-container>

                </div>

            </div>

        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-progress-circular class="md-accent" md-diameter="40" ng-if="inProgress"></md-progress-circular>
            <span flex></span>

            <md-button ng-click="clearFields()">
                CLEAR
            </md-button>

            <md-button ng-click="addNewFont()" ng-disabled="newFontForm.$invalid">
                ADD
            </md-button>

        </md-dialog-actions>

    </form>

</md-dialog>
