<md-dialog aria-label="createProfile" class="auth-dialog">
<form name="createProfileForm" ng-cloak>
    <md-toolbar>
        <div class="md-toolbar-tools" >
            <h2>Create New Profile</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon aria-label="Close dialog" style="color: #6f6f6f">close</md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content>
        <div class="md-dialog-content">

            <md-input-container class="md-block" >
                <label>Email</label>
                <input required="" type="email" name="profileEmail" ng-model="profileData.email" minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/">

                <div ng-messages="createProfileForm.profileEmail.$error" role="alert">
                    <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                        Your email must be between 10 and 100 characters long and look like an e-mail address.
                    </div>
                </div>
            </md-input-container>

            <md-input-container class="md-block">
                <label>Name</label>
                <input required="" name="name" ng-model="profileData.name">
                <div ng-messages="createProfileForm.name.$error">
                    <div ng-message="required">This is required.</div>
                </div>
            </md-input-container>

            <md-input-container class="md-block">
                <label>Password</label>
                <input required="" type="password" name="password" ng-model="profileData.password">
                <div ng-messages="createProfileForm.password.$error">
                    <div ng-message="required">This is required.</div>
                </div>
            </md-input-container>

            <md-input-container class="md-block">
                <label>Confirm Password</label>
                <input required="" type="password" name="confirmPassword" ng-model="confirmPassword" ui-validate=" '$value==profileData.password' " ui-validate-watch=" 'profileData.password' ">
                <div ng-messages="createProfileForm.confirmPassword.$error.validator">
                    <div class="validator-message" ng-show="createProfileForm.confirmPassword.$error.validator">Passwords does not match.</div>
                </div>
            </md-input-container>

        </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
        <md-progress-circular ng-if="inProgress" class="md-accent" md-diameter="40"></md-progress-circular>
        <span flex></span>
        <md-button class="md-raised" ng-click="clearFields()">
            CLEAR
        </md-button>
        <md-button class="md-raised" ng-click="createProfile()" ng-disabled="createProfileForm.$invalid" style="background-color: #34c84a; color: white">
            CREATE
        </md-button>
    </md-dialog-actions>
</form>
</md-dialog>
