<div class="pane-group">
    <div class="pane side-list">
        <h5 class="nav-group-title">
            <strong>
                <span class="icon icon-newspaper"></span>&nbsp;&nbsp;All
            </strong>
        </h5>

        <br>

        <div>
            <div>
                <input class="form-control" type="text" placeholder="Search" ng-model="searchFont">
            </div>
        </div>

        <br>

        <table class="table">
            <tbody>
                <tr class="font" ng-repeat="font in font_list | filter:searchFont" ng-click="select_font(font)" ng-class="{'selected': selected_font === font}">
                    <td>
                        <div ng-init="status_color(font)"></div>
                        <span class="icon icon-record" ng-style="font.status_color"></span>&nbsp;&nbsp;
                        {{font.name}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>


    <div class="font-body pane" ng-class="{ 'changing': change_is_on }">
        <h3 class="header">
            {{font_sample}}
        </h3>

        <div ng-repeat="element in font_files">
            <span style=""></span>
            <div>
                {{font_sample}}
            </div>
        </div>
    </div>

</div>