<div class="search-bar">
    <md-input-container md-no-float class="md-accent" flex="80">
        <md-icon style="color:green" class="material-icons">search</md-icon>
        <input ng-model="searchInput" placeholder="Search here" style="color:brown;padding-left:10px;">
    </md-input-container>
</div>

<ul class="card-list">
    <li class="list-styler">
        <md-card style="box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); height: 150px; width: 350px;">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">
                        <md-icon class="material-icons" style="color: #34c84a">add_box</md-icon> &nbsp;
                        Add new...
                    </span>
                    <span class="md-subhead">Add new source</span>
                </md-card-title-text>
            </md-card-title>

            <md-card-actions layout="row" layout-align="end center">
                <span>
                    <md-button class="md-primary md-raised" style="background-color: #34c84a" ng-click="show_channel_add_dialog()">Add</md-button>
                </span>
            </md-card-actions>
        </md-card>
    </li>

    <li class="list-styler" ng-repeat="channel in channels_list | filter:searchInput">
        <md-card style="box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); height: 150px; width: 350px;">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">
                        <md-icon class="material-icons" ng-style="channel.is_active? {'color': 'blue'}: {}">fiber_manual_record</md-icon> &nbsp;
                        {{channel.channel_id}}
                    </span>
                    <span class="md-subhead">Type: {{channel.type}}</span>
                </md-card-title-text>
            </md-card-title>

            <md-card-actions layout="row" layout-align="end center">
                <md-button class="md-raised md-warn" ng-click="show_channel_info($event, channel.channel_id)">MORE</md-button>&nbsp;&nbsp;
                <span ng-click="change_status(channel)">
                    <md-button aria-label="{{channel.channel_id}}" class="md-primary md-raised" ng-style="channel.is_active? {'background-color': '#cd2b00', 'color': 'white'}: {}">
                        <span ng-if="channel.is_active">Disable</span>
                        <span ng-if="!channel.is_active">Enable</span>
                    </md-button>
                </span>
            </md-card-actions>
        </md-card>
    </li>
</ul>

<script type="text/ng-template" id="add_channel.html">
    <md-dialog class="new-channel" aria-label="new_channel">
        <form name="add_new" ng-cloak>
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2>Add New Source</h2>
                    <span flex></span>
                    <md-button class="md-icon-button" ng-click="cancel()">
                        <md-icon aria-label="Close dialog">close</md-icon>
                    </md-button>
                </div>
            </md-toolbar>
            <md-dialog-content>
                <div class="md-dialog-content">
                    <md-radio-group ng-model="type" layout="row" style="padding: 0px 60px 0px 60px">
                        <md-radio-button value="github">GitHub</md-radio-button>
                        <div flex></div>
                        <md-radio-button value="gitlab">GitLab</md-radio-button>
                        <div flex></div>
                        <md-radio-button value="other">Other</md-radio-button>
                    </md-radio-group>
                    <br>

                    <md-input-container class="md-block">
                        <label>Channel ID</label>
                        <input required="" name="channel_id" ng-model="channel.channel_id">
                        <div ng-messages="add_new.channel_id.$error">
                            <div ng-message="required">Channel ID is a required field</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Base URL</label>
                        <input md-maxlength="250" required="" name="base_url" ng-model="channel.base_url">
                        <div ng-messages="add_new.base_url.$error">
                            <div ng-message="required">Please enter the source list URL</div>
                        </div>
                    </md-input-container>
                    <span ng-if="type === 'other'">
                        <md-input-container class="md-block">
                            <label>License Key</label>
                            <input md-maxlength="250" required="" name="license_key" ng-model="channel.license_key">
                            <div ng-messages="add_new.license_key.$error">
                                <div ng-message="required">Please enter the key provided by Fontman agreement</div>
                            </div>
                        </md-input-container>
                    </span>
                </div>
            </md-dialog-content>

            <md-dialog-actions layout="row">
                <md-card-actions layout="row" layout-align="end center">
                    <span ng-if="in_progress">
                        <md-progress-circular class="md-accent" md-diameter="40"></md-progress-circular>
                    </span>
                    <span flex></span>

                    <md-button style="background-color: #34c84a; color: white" class="md-raised" ng-click="save_channel()">ADD</md-button>
                </md-card-actions>
            </md-dialog-actions>
        </form>
    </md-dialog>
</script>

<script type="text/ng-template" id="channel_info.html">
    <md-dialog aria-label="channel_info">
        <form ng-cloak>
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2>{{channel.channel_id}}</h2>
                    <span flex></span>
                    <md-button class="md-icon-button" ng-click="cancel()">
                        <md-icon aria-label="Close dialog">close</md-icon>
                    </md-button>
                </div>
            </md-toolbar>
            <md-dialog-content>
                <div class="md-dialog-content">
                    Base URL: {{channel.base_url}}
                </div>
            </md-dialog-content>

            <md-dialog-actions layout="row">
                <md-card-actions layout="row" layout-align="end center">
                    <span ng-if="in_progress">
                        <md-progress-circular class="md-accent" md-diameter="40"></md-progress-circular>
                    </span>
                    <span flex></span>

                    <md-button style="background-color: #00cf1b; color: white" class="md-raised" ng-click="refresh_cache(channel.channel_id)">REFRESH CACHE</md-button>
                    <md-button style="background-color: #cd2b00; color: white" class="md-raised" ng-click="remove_channel(channel.channel_id)">REMOVE</md-button>
                </md-card-actions>
            </md-dialog-actions>
        </form>
    </md-dialog>
</script>