<div class="wrapper" ng-controller="comparisonController">

    <div class="bucket-list-bar">

        <ul>

            <li class="bucket-card" ng-repeat="font in fontBucket">

                <div>

                    <div>

                        <div ng-repeat="fontface in font.fontfaces">

                            <style scoped>
                                @font-face {font-family:"{{font.name}}-{{fontface.fontface}}"; src: url({{fontface.resource_path}}) format("opentype");}
                            </style>

                        </div>

                        <p class="bucketed-text" style="font-size: {{font.defaultTextSize}}px; font-family: {{font.name}}-{{font.selectedFontface}}">
                            {{font.defaultText}}
                        </p>

                    </div>

                </div>

            </li>

        </ul>

    </div>


    <div class="comparison-body" layout="row">

        <div class="padding" flex="50">

            <div ng-show="unifiedLeft">

                <div class="comparison-controllers" layout="row">

                    <md-input-container class="input-container padding" flex="25">
                        <md-select aria-label="sfont" ng-model="selectedFontLeft">
                            <md-option ng-repeat="font in fontBucket" ng-value="font">
                                {{font.name}}
                            </md-option>
                        </md-select>
                    </md-input-container>

                    <md-input-container class="input-container  padding" flex="25">
                        <md-select aria-label="sfontface" ng-model="selectedFontLeft.selectedFontface">
                            <md-option ng-repeat="fontface in selectedFontLeft.fontfaces" ng-value="(fontface.fontface)">
                                {{fontface.fontface}}
                            </md-option>
                        </md-select>
                    </md-input-container>

                    <md-input-container class="padding" flex="15" ng-show="mainTitleControllers">
                        <input aria-label="mainTitleFontSize" ng-model="mainTitleFontSize" type="number">
                    </md-input-container>

                    <md-input-container class="padding" flex="15" ng-show="subTitleControllers">
                        <input aria-label="subTitleFontSize" ng-model="subTitleFontSize" type="number">
                    </md-input-container>

                    <md-input-container class="padding" flex="15" ng-show="textBodyControllers">
                        <input aria-label="textBodyFontSize" ng-model="textBodyFontSize"  type="number">
                    </md-input-container>

                    <span flex></span>

                    <md-input-container flex="20">
                        <md-button aria-label="unifyButton" ng-click="behaviourChangeLeft()">
                            <span ng-if="!unifiedLeft">FREESTYLE</span>
                            <span ng-if="unifiedLeft">UNIFIED</span>
                        </md-button>
                    </md-input-container>

                </div>

                <div ng-click="mainTitleClick()">

                    <h1 contentEditable style="font-size:{{mainTitleFontSize}}px; font-family: {{selectedFontLeft.name}}-{{selectedFontLeft.selectedFontface}}">
                        {{mainTitle}}
                    </h1>

                </div>

                <div ng-click="subTitleClick()">

                    <h3 contentEditable style="font-size:{{subTitleFontSize}}px; font-family: {{selectedFontLeft.name}}-{{selectedFontLeft.selectedFontface}}">
                        {{subTitle}}
                    </h3>

                </div>

                <div ng-click="textBodyClick()">

                    <p contentEditable style="font-size:{{textBodyFontSize}}px; font-family: {{selectedFontLeft.name}}-{{selectedFontLeft.selectedFontface}}">
                        {{textBody}}
                    </p>

                </div>

            </div>

            <div ng-show="!unifiedLeft">

                <div class="comparison-controllers" layout="row" ng-if="applyStyleToAll">

                    <span flex></span>

                    <md-input-container>

                        <md-button aria-label="unifyButton" ng-click="behaviourChangeLeft()">
                            <span ng-if="!unifiedLeft">FREESTYLE</span>
                            <span ng-if="unifiedLeft">UNIFIED</span>
                        </md-button>

                    </md-input-container>

                </div>

                <div class="comparison-controllers" layout="row" ng-show="mainTitleControllers">

                    <md-input-container class="input-container padding" flex="25">
                        <md-select aria-label="sfont" ng-model="mainTitleFont">
                            <md-option ng-repeat="font in mainTitleFontList" ng-value="font">
                                {{font.name}}
                            </md-option>
                        </md-select>
                    </md-input-container>

                    <md-input-container class="input-container padding" flex="25">
                        <md-select aria-label="sfontface" ng-model="mainTitleFont.selectedFontface">
                            <md-option ng-repeat="fontface in mainTitleFont.fontfaces" ng-value="(fontface.fontface)">
                                {{fontface.fontface}}
                            </md-option>
                        </md-select>
                    </md-input-container>

                    <md-input-container class="padding" flex="15">
                        <input aria-label="subTitleFontSize" ng-model="mainTitleFontSize" type="number">
                    </md-input-container>

                    <span flex></span>

                    <md-input-container flex="20">
                        <md-button aria-label="unifyButton" ng-click="behaviourChangeLeft()">
                            <span ng-if="!unifiedLeft">FREESTYLE</span>
                            <span ng-if="unifiedLeft">UNIFIED</span>
                        </md-button>
                    </md-input-container>

                </div>

                <div class="comparison-controllers" layout="row" ng-show="subTitleControllers">

                    <md-input-container class="input-container padding" flex="25">
                        <md-select aria-label="sfont" ng-model="subTitleFont">
                            <md-option ng-repeat="font in subTitleFontList" ng-value="font">
                                {{font.name}}
                            </md-option>
                        </md-select>
                    </md-input-container>

                    <md-input-container class="input-container padding" flex="25">
                        <md-select aria-label="sfontface" ng-model="subTitleFont.selectedFontface">
                            <md-option ng-repeat="fontface in subTitleFont.fontfaces" ng-value="(fontface.fontface)">
                                {{fontface.fontface}}
                            </md-option>
                        </md-select>
                    </md-input-container>

                    <md-input-container class="padding" flex="15">
                        <input aria-label="subTitleFontSize" ng-model="subTitleFontSize" type="number">
                    </md-input-container>

                    <span flex></span>

                    <md-input-container flex="20">
                        <md-button aria-label="unifyButton" ng-click="behaviourChangeLeft()">
                            <span ng-if="!unifiedLeft">FREESTYLE</span>
                            <span ng-if="unifiedLeft">UNIFIED</span>
                        </md-button>
                    </md-input-container>

                </div>

                <div class="comparison-controllers" layout="row" ng-show="textBodyControllers">

                    <md-input-container class="input-container padding" flex="25">
                        <md-select aria-label="sfont" ng-model="textBodyFont">
                            <md-option ng-repeat="font in textBodyFontList" ng-value="font">
                                {{font.name}}
                            </md-option>
                        </md-select>
                    </md-input-container>

                    <md-input-container class="input-container padding" flex="25">
                        <md-select aria-label="sfontface" ng-model="textBodyFont.selectedFontface">
                            <md-option ng-repeat="fontface in textBodyFont.fontfaces" ng-value="(fontface.fontface)">
                                {{fontface.fontface}}
                            </md-option>
                        </md-select>
                    </md-input-container>

                    <md-input-container class="padding" flex="15">
                        <input aria-label="textBodyFontSize" ng-model="textBodyFontSize"  type="number">
                    </md-input-container>

                    <span flex></span>

                    <md-input-container flex="20">
                        <md-button aria-label="unifyButton" ng-click="behaviourChangeLeft()">
                            <span ng-if="!unifiedLeft">FREESTYLE</span>
                            <span ng-if="unifiedLeft">UNIFIED</span>
                        </md-button>
                    </md-input-container>

                </div>

                <div ng-click="mainTitleClick()">

                    <h1 contentEditable style="font-size:{{mainTitleFontSize}}px; font-family: {{mainTitleFont.name}}-{{mainTitleFont.selectedFontface}}">
                        {{mainTitle}}
                    </h1>

                </div>

                <div ng-click="subTitleClick()">

                    <h3 contentEditable style="font-size:{{subTitleFontSize}}px; font-family: {{subTitleFont.name}}-{{subTitleFont.selectedFontface}}">
                        {{subTitle}}
                    </h3>

                </div>

                <div ng-click="textBodyClick()">

                    <p contentEditable style="font-size:{{textBodyFontSize}}px; font-family: {{textBodyFont.name}}-{{textBodyFont.selectedFontface}}">
                        {{textBody}}
                    </p>

                </div>

            </div>

        </div>

        <div class="padding" flex="50">

            <div ng-show="unifiedRight">

                <div class="comparison-controllers" layout="row">

                    <md-input-container class="input-container padding" flex="25">
                        <md-select aria-label="sfont" ng-model="selectedFontRight">
                            <md-option ng-repeat="font in fontBucket" ng-value="font">
                                {{font.name}}
                            </md-option>
                        </md-select>
                    </md-input-container>

                    <md-input-container class="input-container  padding" flex="25">
                        <md-select aria-label="sfontface" ng-model="selectedFontRight.selectedFontface">
                            <md-option ng-repeat="fontface in selectedFontRight.fontfaces" ng-value="(fontface.fontface)">
                                {{fontface.fontface}}
                            </md-option>
                        </md-select>
                    </md-input-container>

                    <md-input-container class="padding" flex="15" ng-show="mainTitleControllers">
                        <input aria-label="mainTitleFontSize" ng-model="mainTitleFontSize" type="number">
                    </md-input-container>

                    <md-input-container class="padding" flex="15" ng-show="subTitleControllers">
                        <input aria-label="subTitleFontSize" ng-model="subTitleFontSize" type="number">
                    </md-input-container>

                    <md-input-container class="padding" flex="15" ng-show="textBodyControllers">
                        <input aria-label="textBodyFontSize" ng-model="textBodyFontSize"  type="number">
                    </md-input-container>

                    <span flex></span>

                    <md-input-container flex="20">
                        <md-button aria-label="unifyButton" ng-click="behaviourChangeRight()">
                            <span ng-if="!unifiedRight">FREESTYLE</span>
                            <span ng-if="unifiedRight">UNIFIED</span>
                        </md-button>
                    </md-input-container>

                </div>

                <div ng-click="mainTitleClick()">

                    <h1 contentEditable style="font-size:{{mainTitleFontSize}}px; font-family: {{selectedFontRight.name}}-{{selectedFontRight.selectedFontface}}">
                        {{mainTitle}}
                    </h1>

                </div>

                <div ng-click="subTitleClick()">

                    <h3 contentEditable style="font-size:{{subTitleFontSize}}px; font-family: {{selectedFontRight.name}}-{{selectedFontRight.selectedFontface}}">
                        {{subTitle}}
                    </h3>

                </div>

                <div ng-click="textBodyClick()">

                    <p contentEditable style="font-size:{{textBodyFontSize}}px; font-family: {{selectedFontRight.name}}-{{selectedFontRight.selectedFontface}}">
                        {{textBody}}
                    </p>

                </div>

            </div>

            <div ng-show="!unifiedRight">

                <div class="comparison-controllers" layout="row" ng-if="applyStyleToAll">

                    <span flex></span>

                    <md-input-container>

                        <md-button aria-label="unifyButton" ng-click="behaviourChangeRight()">
                            <span ng-if="!unifiedRight">FREESTYLE</span>
                            <span ng-if="unifiedRight">UNIFIED</span>
                        </md-button>

                    </md-input-container>

                </div>

                <div class="comparison-controllers" layout="row" ng-show="mainTitleControllers">

                    <md-input-container class="input-container padding" flex="25">
                        <md-select aria-label="sfont" ng-model="mainTitleFont">
                            <md-option ng-repeat="font in mainTitleFontList" ng-value="font">
                                {{font.name}}
                            </md-option>
                        </md-select>
                    </md-input-container>

                    <md-input-container class="input-container padding" flex="25">
                        <md-select aria-label="sfontface" ng-model="mainTitleFont.selectedFontface">
                            <md-option ng-repeat="fontface in mainTitleFont.fontfaces" ng-value="(fontface.fontface)">
                                {{fontface.fontface}}
                            </md-option>
                        </md-select>
                    </md-input-container>

                    <md-input-container class="padding" flex="15">
                        <input aria-label="subTitleFontSize" ng-model="mainTitleFontSize" type="number">
                    </md-input-container>

                    <span flex></span>

                    <md-input-container flex="20">
                        <md-button aria-label="unifyButton" ng-click="behaviourChangeRight()">
                            <span ng-if="!unifiedRight">FREESTYLE</span>
                            <span ng-if="unifiedRight">UNIFIED</span>
                        </md-button>
                    </md-input-container>

                </div>

                <div class="comparison-controllers" layout="row" ng-show="subTitleControllers">

                    <md-input-container class="input-container padding" flex="25">
                        <md-select aria-label="sfont" ng-model="subTitleFont">
                            <md-option ng-repeat="font in subTitleFontList" ng-value="font">
                                {{font.name}}
                            </md-option>
                        </md-select>
                    </md-input-container>

                    <md-input-container class="input-container padding" flex="25">
                        <md-select aria-label="sfontface" ng-model="subTitleFont.selectedFontface">
                            <md-option ng-repeat="fontface in subTitleFont.fontfaces" ng-value="(fontface.fontface)">
                                {{fontface.fontface}}
                            </md-option>
                        </md-select>
                    </md-input-container>

                    <md-input-container class="padding" flex="15">
                        <input aria-label="subTitleFontSize" ng-model="subTitleFontSize" type="number">
                    </md-input-container>

                    <span flex></span>

                    <md-input-container flex="20">
                        <md-button aria-label="unifyButton" ng-click="behaviourChangeRight()">
                            <span ng-if="!unifiedRight">FREESTYLE</span>
                            <span ng-if="unifiedRight">UNIFIED</span>
                        </md-button>
                    </md-input-container>

                </div>

                <div class="comparison-controllers" layout="row" ng-show="textBodyControllers">

                    <md-input-container class="input-container padding" flex="25">
                        <md-select aria-label="sfont" ng-model="textBodyFont">
                            <md-option ng-repeat="font in textBodyFontList" ng-value="font">
                                {{font.name}}
                            </md-option>
                        </md-select>
                    </md-input-container>

                    <md-input-container class="input-container padding" flex="25">
                        <md-select aria-label="sfontface" ng-model="textBodyFont.selectedFontface">
                            <md-option ng-repeat="fontface in textBodyFont.fontfaces" ng-value="(fontface.fontface)">
                                {{fontface.fontface}}
                            </md-option>
                        </md-select>
                    </md-input-container>

                    <md-input-container class="padding" flex="15">
                        <input aria-label="textBodyFontSize" ng-model="textBodyFontSize"  type="number">
                    </md-input-container>

                    <span flex></span>

                    <md-input-container flex="20">
                        <md-button aria-label="unifyButton" ng-click="behaviourChangeRight()">
                            <span ng-if="!unifiedRight">FREESTYLE</span>
                            <span ng-if="unifiedRight">UNIFIED</span>
                        </md-button>
                    </md-input-container>

                </div>

                <div ng-click="mainTitleClick()">

                    <h1 contentEditable style="font-size:{{mainTitleFontSize}}px; font-family: {{mainTitleFont.name}}-{{mainTitleFont.selectedFontface}}">
                        {{mainTitle}}
                    </h1>

                </div>

                <div ng-click="subTitleClick()">

                    <h3 contentEditable style="font-size:{{subTitleFontSize}}px; font-family: {{subTitleFont.name}}-{{subTitleFont.selectedFontface}}">
                        {{subTitle}}
                    </h3>

                </div>

                <div ng-click="textBodyClick()">

                    <p contentEditable style="font-size:{{textBodyFontSize}}px; font-family: {{textBodyFont.name}}-{{textBodyFont.selectedFontface}}">
                        {{textBody}}
                    </p>

                </div>

            </div>

        </div>

    </div>

</div>

