<div class="wrapper" ng-controller="fontsController">

    <div class="header">

        <md-input-container class="md-block">

            <label></label>
            <input name="fontText" ng-model="selectedFont.defaultText">

        </md-input-container>

    </div>

    <md-divider></md-divider>

    <div class="content font-page-body">

        <ul>

            <li ng-repeat="font in fontsList" class="font-card" ng-mouseover="hoverIn()" ng-mouseleave="hoverOut()">

                <div class="div">

                    <div layout="row" ng-show="hoverEdit">

                        <md-input-container class="input-container" flex="40">

                            <label class="white-colored">ff</label>

                            <md-select ng-model="font.selectedFontface">
                                <md-option ng-repeat="fontface in font.fontfaces" value="{{font.name}}-{{fontface.fontface}}">
                                    {{fontface.fontface}}
                                </md-option>
                            </md-select>

                        </md-input-container>

                        <md-slider-container class="slider">

                            <md-slider id="red-slider" ng-model="font.defaultTextSize" step="1" min="10" max="100" aria-label="textSize" class="">
                            </md-slider>

                            <span>{{font.defaultTextSize}}px</span>

                        </md-slider-container>

                    </div>

                </div>

                <div>

                    <div ng-style="{'color': {true: 'red'}[hoverEdit]}">

                        <div ng-repeat="fontface in font.fontfaces">

                            <style scoped>
                                @font-face {font-family:"{{font.name}}-{{fontface.fontface}}"; src: url({{fontface.resource_path}}) format("opentype");}
                            </style>

                        </div>

                        <p contentEditable class="editableText" style="font-size: {{font.defaultTextSize}}px; font-family: {{font.selectedFontface}}">
                            {{font.defaultText}}
                        </p>

                    </div>

                </div>

                <div layout="row" ng-show="hoverEdit">

                    <md-button class="card-button">
                        SEE
                    </md-button>

                    <md-button class="card-button">
                        TEST
                    </md-button>

                    <md-button class="card-button">
                        INSTALL
                    </md-button>

                </div>

            </li>

        </ul>

    </div>

</div>