<div class="wrapper" ng-controller="fontsController">

    <div class="header">

        <div class="search-area">
            <md-input-container flex="80">
                <input ng-model="searchText" placeholder="Search">
            </md-input-container>

        </div>

    </div>

    <md-divider></md-divider>

    <div class="content font-page-body">

        <ul>

            <li class="font-card" ng-mouseleave="hoverOut()" ng-mouseover="hoverIn()" ng-repeat="font in fontBucket">

                <div class="div">

                    <div layout="row" ng-show="hoverEdit">

                        <md-input-container class="input-container" flex="40">
                            <label class="white-colored">ff</label>

                            <md-select ng-model="font.selectedFontface">
                                <md-option ng-repeat="fontface in font.fontfaces" ng-value="fontface.fontface">
                                    {{fontface.fontface}}
                                </md-option>
                            </md-select>
                        </md-input-container>

                        <md-input-container>
                            <input flex="30" type="number" ng-model="font.defaultTextSize" aria-label="red">
                        </md-input-container>

                    </div>

                </div>

                <div>

                    <div ng-style="{'color': {true: 'red'}[hoverEdit]}">

                        <div ng-repeat="fontface in font.fontfaces">

                            <style scoped>
                                @font-face {font-family:"{{font.name}}-{{fontface.fontface}}"; src: url({{fontface.resource_path}}) format("opentype");}
                            </style>

                        </div>

                        <p class="bucketed-text" style="font-size: {{font.defaultTextSize}}px; font-family: {{font.name}}-{{font.selectedFontface}}">
                            {{font.defaultText}}
                        </p>

                    </div>

                </div>

                <div layout="row" ng-show="hoverEdit">

                    <md-button class="card-button">
                        SEE
                    </md-button>

                    <md-button class="card-button">
                        TEST
                    </md-button>

                    <md-button class="card-button" ng-show="font.is_installed">
                        REINSTALL
                    </md-button>

                    <md-button class="card-button" ng-click="showFontInstaller($event, font.font_id)" ng-show="!font.is_installed">
                        INSTALL
                    </md-button>

                </div>

            </li>

            <li class="font-card" ng-mouseleave="hoverOut()" ng-mouseover="hoverIn()" ng-repeat="font in fontsList | filter:searchText">

                <div class="div">

                    <div layout="row" ng-show="hoverEdit">

                        <md-input-container class="input-container" flex="40">
                            <label class="white-colored">ff</label>

                            <md-select ng-model="font.selectedFontface">
                                <md-option ng-repeat="fontface in font.fontfaces" ng-value="fontface.fontface">
                                    {{fontface.fontface}}
                                </md-option>
                            </md-select>
                        </md-input-container>

                        <md-input-container>
                            <input flex="30" type="number" ng-model="font.defaultTextSize" aria-label="red" aria-controls="red-slider">
                        </md-input-container>

                        <md-icon class="bucket-button" ng-click="addToBucket(font)" ng-if="!font.chosen">
                            add_circle
                        </md-icon>

                        <md-icon class="bucket-button" ng-click="removeFromBucket(font)" ng-if="font.chosen">
                            remove_circle
                        </md-icon>

                    </div>

                </div>

                <div>

                    <div ng-style="{'color': {true: 'red'}[hoverEdit]}">

                        <div ng-repeat="fontface in font.fontfaces">

                            <style scoped>
                                @font-face {font-family:"{{font.name}}-{{fontface.fontface}}"; src: url({{fontface.resource_path}}) format("opentype");}
                            </style>

                        </div>

                        <p contentEditable style="font-size: {{font.defaultTextSize}}px; font-family: {{font.name}}-{{font.selectedFontface}}">
                            {{font.defaultText}}
                        </p>

                    </div>

                </div>

                <div layout="row" ng-show="hoverEdit">

                    <md-button class="card-button">
                        SEE
                    </md-button>

                    <md-button class="card-button">
                        TEST
                    </md-button>

                    <md-button class="card-button" ng-show="font.is_installed">
                        REINSTALL
                    </md-button>

                    <md-button class="card-button" ng-click="showFontInstaller($event, font.font_id)" ng-show="!font.is_installed">
                        INSTALL
                    </md-button>

                </div>

            </li>

        </ul>

    </div>

</div>