<div class="wrapper" ng-controller="typecaseController">

    <div  layout="row" >

        <div layout="column">

            <div class="header">

                <h3>Favorites</h3>

                <ul>

                    <li ng-repeat="font in favoriteFonts">

                        {{font.name}}

                    </li>

                </ul>

            </div>

            <div>

                <div class="header" layout="row">

                    <h3>Collections</h3>

                    <div flex></div>

                    <div>Add new collection</div>

                </div>

                <div>


                </div>

            </div>

        </div>

        <div class="typecase-system-fonts" layout="column" flex="30">

            <div class="header">

                <h3>Active fonts</h3>

            </div>

            <div class="content">
                <br>

                <ul>

                    <li class="system-font" ng-repeat="font in systemFonts">

                        <style scoped>
                            @font-face {font-family:"{{font.fontface}}"; src: url({{font.resource_path}}) format("opentype");}
                        </style>

                        <span style="font-family: {{font.fontface}}">
                            {{font.name}}
                        </span>
                    </li>

                </ul>

            </div>

        </div>

    </div>



</div>