<div class="wrapper" ng-controller="typecasesController">

    <div class="header">

    </div>

    <div class="content collection-page-body">

        <div>

            <md-list-item>

                <div class="md-list-item-text">

                    <h3>New Font</h3>
                    <p>Ship your font with Fontman</p>

                </div>

                <div flex></div>

                <md-button ng-click="addNewFontDialog($event)">ADD</md-button>
                <md-divider ng-if="!$last"></md-divider>

            </md-list-item>

            <md-list-item ng-repeat="font in myFonts">

                <div class="md-list-item-text">

                    <h3>{{font.name}}</h3>
                    <p>{{font.type}}</p>

                </div>

                <div flex></div>

                <md-button>ACTIONS</md-button>
                <md-divider ng-if="!$last"></md-divider>

            </md-list-item>

        </div>

    </div>

</div>